@{
    ViewBag.Title = "Digital Agency";
}

<div class="row">
    <img class="img-fluid" src="~/Content/Images/index.png" alt="Index Image" />

    <div class="offset-md-5 offset-sm-0 mt-4">
        <p class="text-justify p-content mb-3 float-left">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Quam lacus suspendisse faucibus interdum. Natoque penatibus et magnis dis parturient montes.
            Sit amet tellus cras adipiscing enim eu turpis. Porta non pulvinar neque laoreet.
            Commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend. Faucibus vitae aliquet nec ullamcorper.
        </p>
        <p class="text-justify p-content float-left">
            Nisl nunc mi ipsum faucibus vitae aliquet nec. Id cursus metus aliquam eleifend mi in nulla posuere.
            Tempor nec feugiat nisl pretium fusce id velit ut. Eu lobortis elementum nibh tellus.
            Felis donec et odio pellentesque diam volutpat commodo. Vivamus arcu felis bibendum ut.
            Sodales ut etiam sit amet nisl purus in mollis. Vitae proin sagittis nisl rhoncus mattis rhoncus.
            Dolor purus non enim praesent elementum facilisis leo vel fringilla.
        </p>
    </div>
</div>