<div class="d-flex flex-column flex-md-row align-items-center fixed top p-3 px-md-4 mb-3 bg-white">
    <h5 class="my-0 mr-md-auto navbar-txt-lg text-uppercase">@Html.ActionLink("Lorem Ipsum", "Index", "Home")</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        @Html.ActionLink("Home", "Index", new { controller = "Home", id = "" }, new { @class = "navbar-txt-sm text-uppercase p-2 text-dark" })
        @Html.ActionLink("About", "About", new { controller = "About", id = "" }, new { @class = "navbar-txt-sm text-uppercase p-2 text-dark" })
        @Html.ActionLink("Contact", "Contact", new { controller = "Contact", id = "" }, new { @class = "navbar-txt-sm text-uppercase p-2 text-dark" })
    </nav>
</div>